.Gifs {
  display: flex;
  flex-wrap: wrap;
}

.Gifs__gif {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.Gifs__gif__title {
  text-align: center;
}

.Gifs__gif__image {
  max-height: 100px;
}
