.Gifs {
  display: flex;
  flex-wrap: wrap;
}

.Gifs__gif {
  margin: 5px;
}

.Gifs__gif__title {
  text-align: center;
  display: block;
  max-width: 180px;
}

.Gifs__gif__image {
  height: 100px;
  display: block;
  margin: auto;
}
